@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ------ General ------ */
* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  /* background-color: rgb(227, 235, 236); */
  /* overflow-wrap: break-word; */
  /* word-break: break-all; */
  /* overflow-wrap: anywhere; */
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* background: linear-gradient(to bottom right, #caa5d7 0%, #9AADF9 50%, #7FC9D9 100%); */
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

a {
  transition: all 0.3s ease 0s;
}

.small {
  font-size: 12px;
  letter-spacing: 1px;
}

.center {
  text-align: center;
}

.block {
  display: block;
  clear: both;
}

/* From uiverse.io */
button {
  margin: 1.2em 0;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }
 
 button:hover {
  background-color: #c62233;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
 }
 
 button:active {
  transform: translateY(-1px);
 }

 .header-wrapper {
   width: 100%;
   /* background-color: rgba(255, 255, 255, 0.8);
   backdrop-filter: blur(20px); */
   /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   position: fixed;
   top: 0;
   z-index: 999; */
 }

.navbar {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #00000010;
}

.navbar h1:hover {
  color: #c62233;
}

.navbar h1 a {
  margin-left: 0 !important;
  padding: 0 !important;
  font-weight: 800;
  font-size: 20px;
  position: relative;
  top: 10px
} 

.navbar .links {
  margin-left: auto;
}

.navbar a {
  /* margin-left: 16px; */
  text-decoration: none;
  /* padding: 6px; */
}

.navbar a:hover {
  color: #c62233;
}

.header-section {
  background-image: url("../public/img/frontpage-concert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  min-height: 500px;
  /* margin-top: 74px; */
}

.content {
  max-width: 1200px;
  /* margin: 110px auto !important; */
  margin: 30px auto !important;
  padding: 20px;
}

.left-part {
  display: block;
  float: left;
}

.left-part h1,
.left-part *,
.right-part h2,
.right-part * {
  color: #fff !important;
}

.left-part h1 {
  font-size: 6em;
  white-space: break-spaces;
}

.right-part {
  display: block;
  float: right;
}

.frontpage-headline {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  line-height: 0.95em;
  margin-top: 0.2em;
}

.latest-record {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  padding: 2em 3em;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 0px;
  max-width: 350px;
  /* backdrop-filter: blur(20px);
  background-color: #194864b3; */
}

.latest-record img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 2em;
  width: 400px;
}

.latest-record .cover-image {
  max-width: 350px;
}

.recently-added {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 5px;
}

.band-title {
  font-size: 1.8em;
  font-weight: 700 !important;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  text-align: center;
  /* overflow-wrap: break-all; */
  /* text-overflow: ellipsis; */
  overflow-wrap: break-word;
}

.band-album {
  font-size: 1.2em;
  margin-bottom: 0.6em;
}

.cover-image {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  max-width: 280px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: transform 300ms;
}

.cover-image:hover {
  transform: scale(1.03);
}


.record {
  display: inline-block;
  width: 280px;
  margin: 0 20px 20px 0;
}

/* create new blog form */
.create {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.create h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 13px;
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 4px;
  background-color: #fff;
}


/* ------ Footer ------ */
.site-footer {
  /* background-color: #fff; */
  padding: 70px 10px;
  text-align: center;
  align-items: center;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #00000020;
}

.site-footer h1 {
  font-weight: 800;
  margin-bottom: 0;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.site-info {
  font-size: 0.8em;
}

/* ------ Menu ------ */
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
  padding: 15px 30px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-right: 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar label {
  display: none;
}

@media screen and (max-width: 750px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .navbar i {
    font-style: normal;
  }

  .navbar .menu {
    font-size: 1.5em;
  }

  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}



/* ------ Responsive ------ */

